:root {
  --background-color: #fff;
  --background-color-opacity: rgba(255, 255, 255, 0.98);
  --code-background-color: #f8f8f8;
  --foreground-color: #000;
  --foreground-secondary-color: #555;
  --foreground-tertiary-color: #e2e2e2;
  --link-color: #f056c1;
  --alert-color: #efab1d;
  --icon-social-filter: invert(100%) sepia(0%) saturate(7460%) hue-rotate(186deg) brightness(107%) contrast(77%);
  --font-size-1: 14px;
  --font-size-2: 28px;
  --line-height-1: 22px;
  --font-weight-1: 300;
  --font-weight-2: 600;
  --spacing-1: 4px;
  --spacing-2: 8px;
  --spacing-3: 12px;
  --spacing-4: 20px;
  --spacing-5: 24px;
  --spacing-scroll-padding: 100px;
  --base-z-index: 1;
  --modal-z-index: 10;
  --top-dom-z-index: 100;

  /* ADDED BACK FOR IN APP TEMPLATE */
  --nav-current-background-color: #000;
  --nav-current-foreground-color: #fff;
  --icon-secondary-filter: invert(43%) sepia(22%) saturate(10%) hue-rotate(58deg) brightness(87%) contrast(93%);
  --icon-social-filter: invert(100%) sepia(0%) saturate(7460%) hue-rotate(186deg) brightness(107%) contrast(77%);
  --border-color: #e2e2e2;
  --chevron-color: #333;
  --h1-font-size: 1.2em;
  --item-gap: 30px;
  --inner-gap: 20px;
  --title-line-height: 1.2;
  --content-max-width: 100%;
  --breadcrumb-background-color: rgba(255, 255, 255, 0.8);
  --breadcrumb-border-color: rgba(255, 255, 255, 0.7);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background-color: #111;
    --background-color-opacity: rgba(17, 17, 17, 0.98);
    --code-background-color: #181818;
    --foreground-color: #fff;
    --foreground-secondary-color: #adadaf;
    --foreground-tertiary-color: #2a2a2a;
    --icon-social-filter: invert(24%) sepia(11%) saturate(0%) hue-rotate(188deg) brightness(95%) contrast(95%);
  }
}

@font-face{
  font-family: "Capsules";
  src: url(./CapsulesVF.woff2) format("woff2") tech("variations");
  font-weight: 300 700;
}

/* GLOBAL STYLES */

html {
  padding: 0;
  margin: 0;
  background-color: var(--background-color);
}
body {
  padding: 0;
  margin: 0;
  background-color: var(--background-color);
  color: var(--foreground-color);
  font-size: var(--font-size-1);
  text-align: left;
  -ms-overflow-style: none;
  scrollbar-width: none;
}
body::-webkit-scrollbar {
  display: none;
}
body, button, input, select, textarea {
  font-family: "Capsules", "Inconsolata", monospace;
}
a,
a:link,
a:visited,
a:active {
  color: var(--link-color);
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
details > summary {
  list-style: none;
  font-weight: var(--font-weight-1);
}
details > summary::-webkit-details-marker {
  display: none;
}
details > summary:before {
  content: '▶';
  display: inline-block;
  margin-right: var(--spacing-1);
  transition: transform 0.2s linear;
  font-style: normal;
}
details[open] > summary:before {
  transform: rotate(90deg);
}
code {
  white-space: pre;
  white-space: pre-wrap;
  word-break: break-all;
  word-wrap: break-word;
  text-align: left;
  background-color: var(--code-background-color);
  padding: 0 2px 0 2px;
  border-radius: 4px;
}

code,
pre,
samp,
tt {}

pre {
  border: 1px solid var(--border-color);
  background-color: var(--code-background-color);
  border-radius: 3px;
  padding: 10px;
  font-size: 0.9em;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.02),
    0 2px 4px rgba(0, 0, 0, 0.02),
    0 4px 8px rgba(0, 0, 0, 0.02),
    0 8px 16px rgba(0, 0, 0, 0.02);
}

pre {
  display: block;
  break-inside: avoid;
  text-align: left;
}

h1 {
  color: var(--foreground-color);
  font-size: var(--h1-font-size);
  margin: 0 0 20px 0;
  line-height: var(--title-line-height);
  padding: 20px 20px 0px 20px;
}

h2 {
  margin-top: 40px;
  margin-bottom: 20px;
}

hr {
  border: none;
  height: 2px;
  color: var(--border-color);
  background-color: var(--border-color);
  margin-top: 2rem;
  margin-bottom: 2rem;
}

p,
h1,
h2,
h3,
h4,
h5,
h6,
ul,
ol,
pre,
hr {
  max-width: var(--content-max-width);
  margin-left: auto;
  margin-right: auto;
  margin-inline-start: var(--margin-inline-start);
  margin-inline-end: var(--margin-inline-end);
}

h1,.date {
  margin-inline-start: initial;
  margin-inline-end: initial;
}

ul,
ol {
  padding-inline-start: 1em;
}

ul:has(input[type="checkbox"]) {
  padding-inline-start: 0px;
}

li:has(input[type="checkbox"]) {
  list-style-type: none;
  margin-left: 0px;
}

figure {
  margin-top: 20px;
  margin-bottom: 20px;
}

figcaption {
  font-size: 0.8em;
  color: var(--foreground-secondary-color);
  text-align: center;
}

blockquote {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 40px;
  margin-inline-end: 40px;
}

blockquote {
  font-style: italic;
  border-left: 5px solid;
  margin-left: 2em;
  padding-left: 1em;
  border-color: var(--border-color);
  color: var(--foreground-secondary-color);
}

footer {
  padding: 0px 20px 20px 20px;
  display: flex;
}

table {
  box-sizing: border-box;
  table-layout: fixed;
  max-width: 100%;
  padding: 0;
  margin-inline-start: var(--margin-inline-start);
  margin-inline-end: var(--margin-inline-start);
  border-collapse: collapse;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.02),
    0 2px 4px rgba(0, 0, 0, 0.02),
    0 4px 8px rgba(0, 0, 0, 0.02),
    0 8px 16px rgba(0, 0, 0, 0.02);
}

table tr {
  border-top: 1px solid var(--border-color);
  background-color: var(--background-color);
  margin: 0;
  padding: 0;
}

table tr:nth-child(2n) {
  background-color: var(--code-background-color);
}

table tr th {
  font-weight: var(--font-weight-2);
  border: 1px solid var(--border-color);
  margin: 0;
  padding: 6px 12px;
  background-color: var(--code-background-color);
}

table tr td {
  border: 1px solid var(--border-color);
  margin: 0;
  padding: 6px 12px;
}

table tr th :first-child,
table tr td :first-child {
  margin-top: 0;
}

table tr th :last-child,
table tr td :last-child {
  margin-bottom: 0;
}

details > summary:before {
  color: var(--foreground-secondary-color);
}

p {
  margin-inline-start: var(--margin-inline-start);
  margin-inline-end: var(--margin-inline-end);
}

p:has(img) {
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

p:has(img) {
  margin-inline-start: 0px;
}

@-webkit-keyframes fadein {
  0% {opacity: 0;}
  100% {opacity: 1;}
}

@keyframes fadein {
  0% {opacity: 0;}
  100% {opacity: 1;}
}

/* BASE STYLES */

.main {
  max-width: min(1800px, calc(100% - env(safe-area-inset-left) - env(safe-area-inset-left)));
  margin: 0 auto;
  color: var(--foreground-color);
  padding: 0px;
}

/* DOM STYLES */

#top-dom {
  position: sticky;
  top: 0;
  z-index: var(--top-dom-z-index);
  width: 100%;
  background-color: var(--background-color-opacity);
  transition: height 0.1s linear;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: var(--foreground-tertiary-color);
}

/* COMMON STYLES */

.content {
  margin: auto;
  width: 88vw;
  max-width: 1000px;
  float: center;
  padding-top: var(--spacing-2);
  padding-bottom: var(--spacing-scroll-padding);
}

.content img, .content video {
  width: 100%;
  border: 1px solid var(--foreground-tertiary-color);
}

.loading-animation {
  color: var(--foreground-color);
}

.button-loading-animation {
  margin-left: var(--spacing-3);
}

.ether {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.alert {
  color: var(--alert-color);
}

.audio-container {
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
  max-width: var(--content-max-width);
}

.audio {
  width: 100%;
}

.overlay-play-icon {
  font-size: var(--font-size-2);
  z-index: calc(var(--base-z-index) + 1);
  display: block;
  position: absolute;
  bottom: var(--spacing-5);
  right: var(--spacing-5);
  opacity: 0.6;
}

.video-container {
  width: 100%;
  padding-top: 56.25%;
  height: 0px;
  position: relative;
  margin-bottom: var(--spacing-4);
  margin-left: auto;
  margin-right: auto;
}

.video {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: var(--base-z-index);
}

/* COMMON MODAL STYLES */

.modal {
  display: none;
  position: fixed;
  z-index: var(--modal-z-index);
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: var(--background-color-opacity);
}

.modal-content {
  -webkit-animation-name: fadein;
  -webkit-animation-duration: 0.3s;
  animation-name: fadein;
}

.exit-button {
  display: inline;
  float: right;
  cursor: pointer;
  text-align: right;
  padding: var(--spacing-3) 0 var(--spacing-3) var(--spacing-5);
  color: var(--foreground-secondary-color);
}

.exit-button:hover .exit-button-text {
  text-decoration: underline;
}

/* HEADER STYLES */

#header-container {
  margin-left: auto;
  margin-right: auto;
  align-items: center;
  display: flex;
  gap: var(--spacing-3);
  padding: var(--spacing-4) var(--spacing-3) var(--spacing-4) var(--spacing-4);
}

#header-info {
  flex: 1;
  display: flex;
  flex-direction: column;
  color: var(--foreground-color);
}

#header-avatar {
  width: 48px;
  height: 48px;
  border: 1px solid var(--foreground-tertiary-color);
}

#header-title {
  font-size: var(--font-size-2);
  font-weight: var(--font-weight-2);
  color: var(--foreground-color);
}

#header-title-button {
  cursor: pointer;
}

#header-about {
  font-size: var(--font-size-1);
  color: var(--foreground-color);
}

#header-about p {
  max-width: 100%;
  margin-left: 0px;
  margin-right: 0px;
}
#header-about p:first-child {
  margin-top: 0px;
}

#header-about p:last-child {
  margin-bottom: 0px;
}

.header-social-icon {
  width: 1em;
  height: 0.8em;
  vertical-align: middle;
  filter: var(--icon-social-filter);
}

#fork-button {
  margin-top: var(--spacing-1);
  color: var(--foreground-secondary-color);
  cursor: pointer;
}

/* NAV STYLES */

#nav-container {
  text-align: left;
  margin-left: auto;
  margin-right: auto;
  padding: 0 var(--spacing-3) var(--spacing-3) var(--spacing-4);
  transition: visibility 0s 0.1s, opacity 0.1s linear;
}

#nav-container.hidden {
  transition: visibility 0s 0.1s, opacity 0.1s linear 0.1s;
}

#nav {
  display: flex;
  flex-wrap: wrap;
  gap: var(--spacing-4);
  padding: 0px;
  box-sizing: border-box;
  margin: 0px auto 0px auto;
  align-items: center;
  font-weight: var(--font-weight-2);
}

/* FORK MODAL STYLES */

/* fork modal sits above other modals */
#fork-modal {
  z-index: calc(var(--modal-z-index) + 1);
}

#fork-form .main-toggle {
  margin-top: var(--spacing-4);
}
#fork-button:hover {
  color: var(--link-color);
}
#fork-form {
  width: 45%;
}
#fork-form details .form-item {
  margin-top: var(--spacing-3);
}
.fork-info {
  margin-top: var(--spacing-4);
}

/* BODY STYLES */

.body-header {
  padding: var(--spacing-3) 0;
}

.body-loading-animation {
  position: fixed;
  margin-top: var(--spacing-2);
  margin-left: var(--spacing-4);
}

/* POST BODY STYLES */

#post-name {
  color: var(--foreground-color);
  font-weight: var(--font-weight-2);
}
#post-date {
  color: var(--foreground-secondary-color);
}
#post-subtitle {
  margin-top: var(--spacing-1);
}
#post-link {
  color: var(--foreground-secondary-color);
}
#post-form-state {
  margin-top: var(--spacing-3);
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: var(--spacing-1);
}
#post-form-state-button {
  color: var(--foreground-primary-color);
}
#post-form-state-toggle {
 color: var(--foreground-secondary-color);
 display: flex;
 flex-direction: row;
 cursor: pointer;
}

/* FORM STYLES */

.form-header {
  color: var(--foreground-primary-color);
  font-weight: var(--font-weight-1);
}
.form-body {
  margin-top: var(--spacing-1);
}
.form-toggle {
  color: var(--foreground-secondary-color);
  cursor: pointer;
}
.form-main-toggle {
  margin-top: var(--spacing-3);
}
.form-disclaimer-toggle {
  font-weight: var(--font-weight-1);
  font-style: italic;
}
.form-section-description {
  margin-top: var(--spacing-3);
  color: var(--foreground-primary-color);
  line-height: var(--line-height-1);
}
.form-section {
  margin-top: var(--spacing-3);
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: end;
  gap: var(--spacing-4);
}
.form-section-disclaimer {
  margin-top: var(--spacing-3);
  color: var(--foreground-secondary-color);
  font-style: italic;
  font-weight: var(--font-weight-1);
}
.form-section-disclaimer a {
  color: var(--foreground-secondary-color);
}
.form-section-disclaimer a:hover {
  text-decoration: underline;
}
.form-item {
  flex: 1 0 10%;
  display: flex;
  flex-direction: column;
  gap: var(--spacing-2);
}
.form-item-large {
  flex: 1 0 40%;
}
.form-label {
  color: var(--foreground-color);
}
.form-value {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.form-value input, .form-value select, .form-value textarea {
  width: 100%;
  padding: var(--spacing-2);
  border: 1px solid var(--foreground-tertiary-color);
  color: var(--foreground-color);
  background-color: var(--background-color);
}
.form-select-value select {
  padding-right: 30px;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}

.form-select-value::after {
  content: '▼';
  color: var(--foreground-primary-color);
  position: relative;
  right: var(--spacing-4);
  width: 0;
}

.form-load-address-button {
  float: right;
  background: none;
  border: none;
  color: var(--foreground-secondary-color);
  padding: 0;
  line-height: 1;
  cursor: pointer;
}
.form-load-address-button:hover .form-load-address-button-text {
  text-decoration: underline;
}
.form-error-message {
  margin-top: var(--spacing-3);
  color: var(--alert-color);
}
.form-button {
  background: none;
  margin: var(--spacing-3) 0;
  color: var(--link-color);
  font-weight: var(--font-weight-2);
  border: none;
  padding: var(--spacing-1) 0px;
  cursor: pointer;
}
.form-button:hover .form-button-text {
  text-decoration: underline;
}
.form-button:disabled {
  color: var(--foreground-tertiary-color);
  cursor: crosshair;
}
.form-button:disabled .form-button-text {
  color: var(--foreground-tertiary-color);
}

.form-input-preface {
  padding-right: var(--spacing-1);
}

/* FRAMES STYLES */

#frames-container {
  text-align: left;
  margin-right: var(--spacing-4);
  padding-bottom: var(--spacing-scroll-padding);
}

.frame {
  display: inline-block;
  margin-left: var(--spacing-4);
  margin-bottom: var(--spacing-2);
  vertical-align: top;
  opacity: 0;
  position: relative;
  cursor: pointer;
}

.frame img {
  width: 100%;
  display: block;
  border: 1px solid var(--background-color);
}

.frame:hover img {
   border: 1px solid var(--foreground-tertiary-color);
}

.frame-image-header {
  color: var(--foreground-color);
  opacity: 0;
  transition: opacity 0.3s ease;
  display: flex;
  gap: var(--spacing-2);
  justify-content: space-between;
  padding-bottom: var(--spacing-1);
  font-weight: var(--font-weight-2);
}

.frame-image-title {
  text-align: right;
  max-width: 85%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.frame-image-date {
  color: var(--foreground-secondary-color);
}

.frame-image-state {
  text-align: left;
  color: var(--foreground-secondary-color);
}

.frame-fade-in {
  opacity: 1;
}

.frame:hover .frame-image-header {
  opacity: 1;
}

.frame-w1 {
  width: 30%;
}

.frame-w2 {
  width: 37%;
}

.frame-w3 {
  width: 45%;
}

/**************/

@media screen and (max-width: 500px) {

  /* COMMON STYLES */

  .mobile-padding {
    margin-inline-start: var(--spacing-2);
    margin-inline-end: var(--spacing-2);
  }

  .content {
    width: 100%;
  }

  .content img, .content video {
    width: 100%;
    border-left: none;
    border-right: none;
  }

  /* COMMON MODAL STYLES */

  .exit-button {
    padding-top: 0;
    padding-bottom: var(--spacing-1);
  }

  /* HEADER STYLES */

  #header-container {
    padding: var(--spacing-2);
  }

  /* FORK MODAL STYLES */

  #fork-form {
    width: auto;
  }

  /* NAV STYLES */

  #nav-container {
    padding: var(--spacing-1) var(--spacing-2) var(--spacing-2) var(--spacing-2);
  }

  /* BODY STYLES */

  .body-header {
    padding-top: var(--spacing-5);
  }

  .body-content {
    padding-top: var(--spacing-3);
  }

  /* FORM STYLES */

  .form-item, .form-item-large {
    flex: 1 0 100%;
  }

  /* FRAMES STYLES */

  #frames-container {
    margin-right: 0;
  }

  .frame { display: block;
    margin-right: 0;
  }

  .frame-w1, .frame-w2, .frame-w3 {
    width: 100%;
  }

  .frame {
    margin-left: 0;
    margin-top: var(--spacing-3);
    margin-bottom: var(--spacing-5);
    border-bottom: 1px solid var(--foreground-tertiary-color);
  }

  .frame:hover img {
     border: none;
  }

  .frame img {
     border: 0;
  }

  .frame-image-header {
    gap: var(--spacing-2);
    opacity: 1;
  }

  .frame-image-title {
    text-align: left;
  }
}
