:root {
  --background-color: #fff;
  --foreground-color: #000;
  --foreground-secondary-color: #888;
  --foreground-tertiary-color: #e2e2e2;
  --link-color: #f056c1;
  --alert-color: #efab1d;
  --modal-background-color: rgba(255, 255, 255, 0.9);
  --icon-social-filter: invert(100%) sepia(0%) saturate(7460%) hue-rotate(186deg) brightness(107%) contrast(77%);
  --font-size-1: 14px;
  --font-size-2: 28px;
  --spacing-1: 4px;
  --spacing-2: 8px;
  --spacing-3: 12px;
  --spacing-4: 20px;
  --spacing-5: 24px;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background-color: #111;
    --foreground-color: #fff;
    --foreground-secondary-color: #adadaf;
    --foreground-tertiary-color: #2a2a2a;
    --icon-social-filter: invert(24%) sepia(11%) saturate(0%) hue-rotate(188deg) brightness(95%) contrast(95%);
    --modal-background-color: rgba(16, 16, 16, 0.85);
  }
}

@font-face {
  font-family: "Capsules";
  src: url(./CapsulesVF.woff2) format("woff2");
  font-weight: 100 700;
}

@font-face{
  font-family: "Capsules";
  src: url(./CapsulesVF.woff2) format("woff2") tech("variations");
  font-weight: 100 700;
}

html {
  padding: 0;
  margin: 0;
  background-color: var(--background-color);
}

body {
  padding: 0;
  margin: 0;
  background-color: var(--background-color);
  color: var(--foreground-color);
  font-size: var(--font-size-1);
  text-align: left;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

body::-webkit-scrollbar {
  display: none;
}

body, button, input, select, textarea {
  font-family: "Capsules", "Inconsolata", monospace;
}

a,
a:link,
a:visited,
a:active {
  color: var(--link-color);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

/* todo remove*/
p {
  margin: 0; 
}

details > summary {
  list-style: none;
}

details > summary::-webkit-details-marker {
  display: none;
}

details > summary:before {
  content: '▶';
  display: inline-block;
  margin-right: var(--spacing-1);
  transition: transform 0.2s linear;
  font-style: normal;
}

details[open] > summary:before {
  transform: rotate(90deg);
}

#nav-container {
  text-align: left;
  margin-left: auto;
  margin-right: auto;
  padding: var(--spacing-1) var(--spacing-4) var(--spacing-3) var(--spacing-4);
  border-bottom: 1px solid var(--foreground-tertiary-color);
  transition: visibility 0s 0.2s, opacity 0.2s linear;
  background-color: var(--background-color);
}

#nav-container.hidden {
  transition-delay: "0s";
}

#nav {
  display: flex;
  flex-wrap: wrap;
  gap: var(--spacing-4);
  padding: 0px;
  box-sizing: border-box;
  margin: 0px auto 0px auto;
  align-items: center;
  font-weight: bold;
}

/* The Modal (background) */
.modal {
  display: none;
  position: fixed;
  z-index: 10;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: var(--modal-background-color);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
}

/* fork modal sits above post modal */
#fork-modal {
  z-index: 11;
}

.modal-close-button {
  cursor: pointer; 
  text-align: right;
  padding: var(--spacing-2) 0; 
  color: var(--foreground-secondary-color);
}

.modal-close-button:hover .modal-close-button-text {
  text-decoration: underline;
}

.modal-content {
  margin: auto;
  width: 88vw;
  max-width: 1000px;
  float: center;
  padding-top: var(--spacing-2);
  padding-bottom: 100px;
}

.modal-header {
  padding-bottom: var(--spacing-3);
}
#frame-name {
  color: var(--foreground-color);
  font-weight: 500;
}
#frame-date {
  color: var(--foreground-secondary-color);
}
.frame-subtitle {
  margin-top: var(--spacing-1);
}
.frame img {
  width: 100%;
}
#frame-link {
  color: var(--foreground-secondary-color);
}

.overlay-icon {
  font-size: var(--font-size-2); 
  z-index: 2;
  display: block;
  position: absolute;
  top: var(--spacing-2);
  left: var(--spacing-2);
  opacity: 0.6;
}

#post-form-state {
  margin-top: var(--spacing-3);
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: var(--spacing-1);
}
#post-form-state-button {
  color: var(--foreground-primary-color);
}
.post-form-state-item-value {
  margin-left: var(--spacing-1);
}
#post-form-state-toggle {
 color: var(--foreground-secondary-color);
 display: flex;
 flex-direction: row;
 cursor: pointer;
}
.form-header {
  color: var(--foreground-secondary-color);
  font-weight: 300;
}
.form-body {
  margin-top: var(--spacing-1);
}
.toggle {
  color: var(--foreground-secondary-color);
  cursor: pointer;
}
.main-toggle {
  margin-top: var(--spacing-3);
}
#fork-form .main-toggle {
  margin-top: var(--spacing-4);
}
.disclaimer-toggle {
  font-weight: 200;
  font-style: italic;
}
details > summary:before {
  color: var(--foreground-secondary-color);
}
.form-section-description {
  margin-top: var(--spacing-3);
  color: var(--foreground-secondary-color);
}
.form-section {
  margin-top: var(--spacing-3);
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: end;
  gap: var(--spacing-4);
}
.form-section-disclaimer {
  margin-top: var(--spacing-3);
  color: var(--foreground-secondary-color);
  font-style: italic;
  font-weight: 200;
}
.form-section-disclaimer a {
  color: var(--foreground-secondary-color);
}
.form-section-disclaimer a:hover {
  font-weight: 400;
  text-decoration: underline;
}
.form-item {
  flex: 1 0 10%;
  display: flex;
  flex-direction: column;
  gap: var(--spacing-2);
}
.form-item-large {
  flex: 1 0 40%;
}
.form-label {
  color: var(--foreground-color);
}
.form-value {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.form-value input, .form-value select, .form-value textarea {
  width: 100%;
  padding: var(--spacing-2);
  border: 1px solid var(--foreground-tertiary-color);
  color: var(--foreground-color);
  background-color: var(--background-color);
}
.form-select-value select {
  padding-right: 30px;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}

.form-select-value::after {
  content: '▼';
  color: var(--foreground-primary-color);
  position: relative;
  right: var(--spacing-4);
  width: 0;
}

.load-address-button {
  float: right;
  background: none;
  border: none;
  color: var(--foreground-secondary-color);
  padding: 0;
  line-height: 1;
  cursor: pointer;
}
.load-address-button:hover .load-address-button-text {
  text-decoration: underline;
}
.form-error-message {
  margin-top: var(--spacing-3);
  color: var(--alert-color);
}
.form-button {
  background: none;
  margin: var(--spacing-3) 0;
  color: var(--link-color);
  font-weight: 700;
  border: none;
  padding: var(--spacing-1) 0px;
  cursor: pointer;
}
.form-button:hover .form-button-text {
  text-decoration: underline;
}
.form-button:disabled {
  color: var(--foreground-tertiary-color);
  cursor: crosshair;
}
.form-button:disabled .form-button-text {
  color: var(--foreground-tertiary-color);
}

.ether {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  padding-right: var(--spacing-1);
}

.modal img, .modal video {
  width: 100%;
  border: 1px solid var(--foreground-tertiary-color);
}

.modal-content {
  -webkit-animation-name: fadein;
  -webkit-animation-duration: 0.3s;
  animation-name: fadein;
}

.date {
  color: var(--foreground-secondary-color);
}

.site-info {
  flex: 1;
  display: flex;
  flex-direction: column;
  color: var(--foreground-color);
}

.site-title {
  font-size: var(--font-size-2); 
  font-weight: 600;
  color: var(--foreground-color);
}

.site-about {
  font-size: var(--font-size-1);
  color: var(--foreground-color);
}

.social-icon {
  width: 1em;
  height: 0.8em;
  vertical-align: baseline;
  filter: var(--icon-social-filter);
}

.video-container {
  width: 100%;
  padding-top: 56.25%;
  height: 0px;
  position: relative;
  margin-bottom: var(--spacing-4);
  margin-left: auto;
  margin-right: auto;
}

.video {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

#top {
  margin-left: auto;
  margin-right: auto;
  align-items: center;
  display: flex;
  gap: var(--spacing-3);
  background-color: var(--background-color);
  padding: var(--spacing-3) var(--spacing-4) var(--spacing-3) var(--spacing-4);
}

.loading-animation {
  color: var(--foreground-color);
}

#main-loading-animation {
  position: fixed;
  margin-top: var(--spacing-2);
  margin-left: var(--spacing-4);
}
.button-loading-animation {
  margin-left: var(--spacing-3);
}

img.avatar {
  width: 48px;
  height: 48px;
  border: 1px solid var(--foreground-tertiary-color);
}

#top-dom {
  position: fixed;
  z-index: 10;
  width: 100%;
}

#fork {
  margin-top: var(--spacing-1);
  color: var(--foreground-secondary-color);
  cursor: pointer;
}

#fork:hover {
  color: var(--link-color);
}

#fork-form {
  width: 45%;
}

#fork-form details .form-item {
  margin-top: var(--spacing-3);
}

#frames {
  text-align: right;
  margin-left: var(--spacing-5);
}

.w1 {
  width: 30%;
}

.w2 {
  width: 37%;
}

.w3 {
  width: 45%;
}

.frame {
  display: inline-block;
  margin-right: var(--spacing-5);
  margin-bottom: var(--spacing-3);
  vertical-align: top;
  opacity: 0;
  position: relative;
  cursor: pointer;
}

.frame img {
   border: 1px solid var(--background-color);
}

.frame:hover img {
   border: 1px solid var(--foreground-tertiary-color);
}

.image-header {
  color: var(--foreground-color);
  opacity: 0;
  transition: opacity 0.3s ease;
  display: flex;
  justify-content: space-between;
  padding-bottom: var(--spacing-1);
}

.image-title {
  text-align: right;
  max-width: 85%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.image-date {
  color: var(--foreground-secondary-color);
}

.image-cta {
  text-align: left;
  color: var(--foreground-secondary-color);
}

.sold-out {
  color: var(--alert-color);
}

.frame-fade-in {
  opacity: 1;
}

.frame:hover .image-header {
  opacity: 1;
}

.fork-info {
  margin-top: var(--spacing-4);
}

@-webkit-keyframes fadein {
  0% {opacity: 0;}
  100% {opacity: 1;}
}

@keyframes fadein {
  0% {opacity: 0;}
  100% {opacity: 1;}
}
@media screen and (max-width: 500px) {
  #frames {
    text-align: right;
    margin-left: 0;
  }

  .frame {
    display: block;
    margin-right: 0;
  }

  .w1 {
    width: 100%;
  }

  .w2 {
    width: 100%;
  }

  .w3 {
    width: 100%;
  }

  .form, .modal-header, .main-form-button, .form-error-message, .modal-close-button, .image-header {
    margin-inline-start: var(--spacing-2);
    margin-inline-end: var(--spacing-2);
  }

  #top {
    padding: var(--spacing-2);
  }

  #nav-container {
    padding: var(--spacing-1) var(--spacing-2) var(--spacing-2) var(--spacing-2);
  }
  
  .modal-content {
    width: 100%;
  }

  .frame {
    margin-top: var(--spacing-3);  
    margin-bottom: var(--spacing-5);  
    border-bottom: 1px solid var(--foreground-tertiary-color);
  }

  .frame:hover img {
     border: none;
  }

  .frame img {
     border: 0;
  }

  .form-item, .form-item-large {
    flex: 1 0 100%;
  }

  #fork-form {
    width: auto;
  }

  .image-header {
    opacity: 1;
  }

  .image-header {
    justify-content: flex-start;
    gap: var(--spacing-2);
  }

  .image-title {
    text-align: left;
  }
}
