<div id="header-container">
  {% if has_avatar == true %}
  <img src="{{ assets_prefix }}avatar.png" width="72" height="72" class="avatar">
  {% endif %}
  <div id="site-info">
    <div id="site-title"><span id="title-button">{{ planet.name }}</span></div>
    {% if page_description_html.count > 0 %}<div id="site-about">{{ page_description_html }}</div>{% endif %}
  </div>
  <div id="fork">fork</div>
  <a href="{{ assets_prefix }}rss.xml" target="_blank">
    <img src="{{ assets_prefix }}assets/rss.svg" alt="RSS" class="social-icon" width="1em">
  </a>
</div>
{% if site_navigation.count > 0 %}
<div id="nav-container">
  <div id="nav">
    {% for item in site_navigation %}
    <a href="{% if item.externalLink.count > 0 %}{{ item.externalLink }}{% else %}{{ assets_prefix }}{{ item.slug }}/{% endif %}" class="{% if article.slug == item.slug %}nav-current{% else %}nav-item{% endif %}"{% if item.externalLink.count > 0 %} target="_blank"{% endif %}>{{ item.title }}</a>
    {% endfor %}
  </div>
</div>
{% endif %}
<script>
  const titleButton = document.getElementById('title-button');
  titleButton.addEventListener('click', () => {
    {% if current_item_type == "blog" %}
    window.location.href = '../';
    {% else %}
    window.location.href = './';
    {% endif %}
  });
</script>
