{% extends 'base.html' %}
{% block head %}
<!-- Open Graph Tags -->
<meta property="og:type" content="article" />
<meta property="og:title" content="{{ article.title|escape }}" />
<meta property="og:site_name" content="{{ planet.name|escape }}" />
<meta property="og:description" content="{{ article_summary|escape }}" />
<meta property="article:published_time" content="{{ article.created|formatDateC }}" />
  {% if article.heroImage != nil %}
  <meta property="og:image" content="{{ social_image_url }}" />
  <meta property="og:image:alt" content="{{ article.title|escape }}" />
  {% else %}
  <meta property="og:image" content="{{ social_image_url }}" />
  <meta property="og:image:alt" content="{{ planet.name|escape }}" />
  {% endif %}
<meta name="twitter:card" content="summary" />
<meta name="twitter:site" content="{{ planet.name|escape }}" />
<meta name="twitter:title" content="{{ article.title|escape }}" />
<meta name="twitter:description" content="{{ article_summary|escape }}" />
  {% if article.heroImage != nil %}
  <meta name="twitter:image" content="{{ social_image_url }}" />
  {% else %}
  <meta name="twitter:image" content="{{ social_image_url }}" />
  {% endif %}
<!-- End Open Graph Tags -->
<script>
  const noScrollEffectEdgeDistance = 80;
  const toggleNavVisibilityScrollThreshold = 50;
  let lastScrollTop = 0;

  document.addEventListener('DOMContentLoaded', () => {
    if (!window.PLANET.visitedFromPlanetClient) {
      if(document.getElementById('audio-container')){
        document.querySelector('.audio-container').style.display = 'block';
      }
      if(document.getElementById('footer')){
        document.querySelector('#footer').style.display = 'block';
      }
    } else {
      const topDom = document.getElementById('top-dom');
      topDom.style.display = "none"
      const bodyResetButton = document.getElementById('body-reset-button');
      bodyResetButton.style.display = "none";
    }
  });
</script>
{% include 'modules/deps.html' %}
{% include 'modules/ethers.html' %}
{% include 'modules/utils.html' %}
{% include 'modules/tx.html' %}
{% include 'modules/croptop_publisher.html' %}
{% endblock %}
{% block main %}
<div id="top-dom">
  {% include 'modules/header.html' %}
</div>
<div id="body-dom" >
  <div class="body-content content">
    <div id="body-reset-button" class="mobile-padding exit-button">[<span class="exit-button-text">all posts &gt;</span>]</div>
    {% include 'modules/post.html' %}
  </div>
</div>
<div id="fork-modal" class="modal negative-space">
  <div class="modal-content content negative-space">
    <div class="exit-button negative-space">[<span class="exit-button-text negative-space">close</span>]</div>
    {% include 'modules/fork.html' %}
  </div>
</div>
<script>
  // Get the fork modal set up.
  const decorateForkModal = () => {
    // Get references to elements that need decorating.
    const forkModal = document.getElementById("fork-modal");
    const headerContainer = document.getElementById('header-container');

    // Make sure the modal is closeable when clicking on empty space.
    let activeElementOnClose;
    forkModal.addEventListener("mousedown", () => {
      activeElementOnClose = document.activeElement;
    });

    forkModal.addEventListener("click", (e) => {
      // Ignore if the clicked view shouldn't close the modal.
      if (!e.target.classList.contains("negative-space")) return;

      // Ignore if the clicked view comes while an input, select, or textarea field is selected.
      if (activeElementOnClose.tagName === "INPUT" || activeElementOnClose.tagName === "SELECT" || activeElementOnClose.tagName === "TEXTAREA") return;

      // Hide the modal.
      forkModal.style.display = "none";
    });

    decorateNewJbForm();
    decoratePermissionForm();
    decorateAllowanceForm();
  }

  const load = async () => {
    startLoadingAnimation('post-form-loading-animation');

    await loadSettings();

    const topDom = document.getElementById('top-dom');
    topDom.style.borderBottomWidth = "1px";

    const imageName = {{ article.hasVideo }} ? '_videoThumbnail.png' : {{ article.attachments }}.at(0);
    const videoSrc = {{ article.hasVideo }} ? './' + '{{ article.videoFilename }}' : null;
    const imageSrc = './' + imageName;
    const name = `{{ article.title }}`;
    const postId = `{{ article.id }}`;
    const created = Math.floor({{ article.created.timeIntervalSince1970 }} * 1000);
    const link = `{{ article.externalLink }}`;
    const content = `{{ content_html }}`;

    await decoratePostPage(name, formatDate(new Date(created)), link, content, imageSrc, videoSrc, await encodeIPFSUriFrom('{{ assets_prefix }}', postId));

    stopLoadingAnimation('post-form-loading-animation');
  }

  const toggleNavVisibility = () => {
    const topDom = document.getElementById('top-dom');
    const currentScrollTop = window.pageYOffset || document.documentElement.scrollTop;
    const maxScrollTop = document.documentElement.scrollHeight - document.documentElement.clientHeight;
    
    if (currentScrollTop <= 0) showNav();
    else {
      if (Math.abs(currentScrollTop - lastScrollTop) < toggleNavVisibilityScrollThreshold) return;
      if (lastScrollTop > noScrollEffectEdgeDistance && maxScrollTop - lastScrollTop > noScrollEffectEdgeDistance) {
        if (currentScrollTop > lastScrollTop) hideNav();
        else showNav();
      }
    }
    lastScrollTop = currentScrollTop;
  }

  const setupResetButton = () => {
    const resetButton = document.getElementById('body-reset-button');
    resetButton.addEventListener('click', () => {
      window.location.href = '../';
    });
  }
  
  load();
  setupForking();
  setupResetButton();

  let isUserScroll = false;
  window.addEventListener('load', function() {
    window.requestAnimationFrame(() => {
      window.addEventListener('scroll', function() {
        if (isUserScroll) toggleNavVisibility();
      });
      window.requestAnimationFrame(() => {
        isUserScroll = true;
      });
    });
  });
</script>
{% endblock %}
{# {% if article.hasVideo %} #}
{# <div class="video-container"> #}
{#   <video class="video" controls playsinline> #}
{#     <source src="{{ article.videoFilename }}"> #}
{#   </video> #}
{# </div> #}
{# {% endif %} #}
{# {% if article.hasAudio %} #}
{# <div class="audio-container" id="audio-container" style="display: none;"> #}
{#   <audio class="audio" controls> #}
{#     <source src="{{ article.audioFilename }}"> #}
{#   </audio> #}
{# </div> #}
{# {% endif %} #}
{# {{ content_html }} #}
