{% extends 'base.html' %}
{% block head %}
{% include 'modules/planet_seo.html' %}
<!-- Pagination -->
{% if previous_page %}
<link rel="prev" href="./{{ previous_page }}">
{% endif %}
{% if next_page %}
<link rel="next" href="./{{ next_page }}">
{% endif %}
{% endblock %}
{% block main %}
<div class="top">
  {% if has_avatar == true %}
  <img src="{{ assets_prefix }}avatar.png" width="72" height="72" class="avatar">
  {% endif %}
  <div class="site-info">
    <div class="site-title">{{ page_title|escape }}</div>
    {% if page_description_html.count > 0 %}<div class="site-about">{{ page_description_html }}</div>{% endif %}
  </div>
  {% include 'modules/social_icons.html' %}
</div>
<div class="nav-container">
  <div class="nav">
    <a href="{{ assets_prefix }}" class="{% if current_item_type == 'index' %}nav-current{% else %}nav-item{% endif %}">Home</a>
    {% for item in site_navigation %}
    <a href="{% if item.externalLink.count > 0 %}{{ item.externalLink }}{% else %}{{ assets_prefix }}{{ item.slug }}/{% endif %}" class="{% if article.slug == item.slug %}nav-current{% else %}nav-item{% endif %}"{% if item.externalLink.count > 0 %} target="_blank"{% endif %}>{{ item.title }}</a>
    {% endfor %}
  </div>
</div>
<div id="frames">
</div>
<div id="modal" class="modal">
  <span class="close">&times;</span>
  <img class="modal-content" id="modal-image">
  <div id="modal-caption"></div>
</div>
<script>
  const frames = document.getElementById("frames");
  const horizontalMargin = 24;
  const verticalMargin = 10;
  const headerHeight = 60;
  const transitionDuration = 300;
  const widthClasses = ["w1", "w2", "w3"];
  let currentRow = 1;
  let greatestRightInRow = 0;
  let rows = [];

  const getRandomWidthClass = () =>
    widthClasses[Math.floor(Math.random() * widthClasses.length)];

  const getTopTarget = (frame, row) => {
    if (row == 1) return frames.offsetTop;
    let previousRow = rows[row - 2];
    let candidateFrame;
    for (let j = 0; j < previousRow.frames.length; j++) {
      let frameToCheck = previousRow.frames[j];
      if (
        frame.left < frameToCheck.right + horizontalMargin &&
        frame.right + horizontalMargin > frameToCheck.left &&
        (candidateFrame == null || frameToCheck.bottom > candidateFrame.bottom)
      ) candidateFrame = frameToCheck;
      else if (frame.right <= frameToCheck.left) {
        return candidateFrame ? candidateFrame.bottom : getTopTarget(frame, row - 1);
      }
    }
    return candidateFrame.bottom;
  };

  const loadFrame = async (frame) => {
    const img = frame.querySelector('img:first-of-type');
    return new Promise((resolve) =>
      img.complete ? resolve() :
        img.addEventListener('load', () => requestAnimationFrame(resolve))
    );
  };

  const frameImage = (src, desc, title, link) => {
    const imageFrame = document.createElement("div");
    imageFrame.classList.add("frame");
    imageFrame.style.transitionProperty = "opacity, margin-top";
    imageFrame.style.transitionDuration = `${transitionDuration / 1000}s, ${transitionDuration / 1000}s`;
    imageFrame.style.transitionTimingFunction = "ease, ease";

    const widthClass = getRandomWidthClass();

    const imgDescription = document.createElement("div");
    imgDescription.innerHTML = desc;
    imgDescription.classList.add("image-description");
    imgDescription.classList.add(widthClass);

    const img = document.createElement("img");
    img.classList.add(widthClass);
    img.loading = "lazy";
    img.src = src;
    img.style.cursor = "pointer";

    if (link) {
      img.addEventListener("click", () => window.open(link, "_blank"));
    } else {
      img.addEventListener("click", () => {
        const modal = document.getElementById("modal");
        const modalImage = document.getElementById("modal-image");
        const modalCaption = document.getElementById("modal-caption");
        modal.style.display = "block";
        modalImage.src = src;
        modalCaption.innerHTML = desc;
        const span = document.getElementsByClassName("close")[0];
        span.onclick = function () {
          modal.style.display = "none";
        }
      });
    }
    imageFrame.appendChild(imgDescription);
    imageFrame.appendChild(img);
    frames.appendChild(imageFrame);
    return imageFrame;
  };
  const positionAndShowFrame = async (imageFrame) => {
    await loadFrame(imageFrame);
    const rect = imageFrame.getBoundingClientRect();
    if (rect.left < greatestRightInRow) currentRow++;
    greatestRightInRow = rect.right;
    const heightDiff = rect.top - getTopTarget(rect, currentRow);
    let newFrame = { left: rect.left, right: rect.right, bottom: rect.bottom - heightDiff + verticalMargin };
    if (currentRow > rows.length) rows.push({ frames: [newFrame] });
    else rows[rows.length - 1].frames.push(newFrame);
    const scrollTop = window.pageYOffset || document.documentElement.scrollTop;
    const marginTop = heightDiff + scrollTop - verticalMargin;
    imageFrame.classList.add("frame-fade-in");
    return new Promise((resolve) => {
      if (marginTop) {
        const handleEvent = (event) => {
          if (event.propertyName === "margin-top") {
            imageFrame.removeEventListener("transitionend", handleEvent);
            resolve();
          }
        };
        imageFrame.addEventListener("transitionend", handleEvent);
        imageFrame.style.marginTop = -marginTop + "px";
      } else setTimeout(resolve, transitionDuration);
    });
  }

  const convertSwiftTimestamp = (timestamp) => {
    return (timestamp + 978307200)
  }

  const formatTimestamp = (timestamp) => {
    const months = [
      'Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec'
    ];

    const dateObj = new Date((timestamp + 978307200) * 1000);
    const month = months[dateObj.getMonth()];
    const day = dateObj.getDate();
    const year = dateObj.getFullYear();
    const hours = dateObj.getHours();
    const minutes = ('0' + dateObj.getMinutes()).slice(-2);
    const seconds = ('0' + dateObj.getSeconds()).slice(-2);
    const ampm = hours >= 12 ? 'PM' : 'AM';
    const hours12 = hours % 12 || 12;

    return `${month} ${day}, ${year} at ${hours12}:${minutes}:${seconds} ${ampm}`;
  }

  const loadImageFrames = async () => {
    const response = await fetch(
      `{{ assets_prefix }}planet.json`
    );
    const data = await response.json();
    const frames = data['articles']
      .filter(item => item.attachments && item.attachments.length > 0)
      .map((item) => {
        const randomIndex = Math.floor(Math.random() * item.attachments.length);
        const randomAttachment = item.attachments[randomIndex];
        console.log({ item, time: formatTimestamp(item.created) });
        return frameImage('./' + item.id + '/' + randomAttachment, formatTimestamp(item.created), item.title, item.externalLink);
      }
      );
    for (const frame of frames) await positionAndShowFrame(frame);
  };

  loadImageFrames();
</script>
{% endblock %}
