{% extends 'base.html' %}

{% block head %}
{% include 'modules/deps.html' %}
{% include 'modules/ethers.html' %}
{% include 'modules/utils.html' %}
{% include 'modules/tx.html' %}
{% include 'modules/collect.html' %}
{% include 'modules/planet_seo.html' %}
{% endblock %}

{% block dom_ready %}
{% endblock %}

{% block main %}
<div class="top">
  {% if has_avatar == true %}
  <img src="{{ assets_prefix }}avatar.png" width="72" height="72" class="avatar">
  {% endif %}
  <div class="site-info">
    <div class="site-title">{{ page_title|escape }}</div>
    {% if page_description_html.count > 0 %}<div class="site-about">{{ page_description_html }}</div>{% endif %}
  </div>
  <div class="site-detail">
    <span>source</span>
  </div>
  {% include 'modules/social_icons.html' %}
</div>
{% include 'modules/nav.html' %}
<div id="loading-animation"></div>
<div id="frames"></div>
<div id="modal">
  <div id="modal-content">
    <div id="modal-header">
        <span id="frame-date"></span><span id="frame-name"></span>
        <div id="modal-subtitle">
            <span id="frame-link"></span>
        </div>
    </div>
    <div id="form">
      <span id="form-header">This file isn't yet onchain. Record onchain to collect a first copy.</span>
      <div id="form-body">
        <details>
          <summary id="form-options-toggle">options</summary>
          <div class="form-section">
            <div class="form-item" style="flex: 1;">
              <div class="form-label">Price</div>
              <div class="form-value">
                <span class="ether">Ξ</span><input type="text" value="0.1" id="form-price-input">
              </div>
            </div>
            <div class="form-item" style="flex: 3;">
              <div class="form-label">Who gets the first copy <button id="load-address-button">[<span id="load-address-button-text">connect wallet</span>]</button></div>
              <div class="form-value">
                <input type="text" placeholder="Defaults to your address" id="form-beneficiary-input">
              </div>
            </div>
          </div>
          <details>
            <summary id="form-advanced-toggle">advanced</summary>
            <div class="form-section">
              <div class="form-item" style="flex: 1;">
                <div class="form-label">Project ID</div>
                <div class="form-value"><input type="text" value="670" id="form-project-id-input"></div>
              </div>
              <div class="form-item" style="flex: 1;">
                <div class="form-label">NFT Category</div>
                <div class="form-value"><input type="text" value="2" id="form-nft-category-input"></div>
              </div>
              <div class="form-item" style="flex: 1;">
                <div class="form-label">Total supply</div>
                <div class="form-value">
                  <input type="number" placeholder="10" value="10" id="form-total-supply-input">
                </div>
              </div>
            </div>
          </details>
        </details>
      </div>
      <div id="form-message"></div>
      <button id="form-button">[<span id="form-button-text">record & collect</span>]</button>
    </div>
    <img id="modal-image"></img>
    <video id="modal-video"></video>
  </div>
</div>
<script>
  const frames = document.getElementById("frames");
  const horizontalMargin = 24;
  const verticalMargin = 10;
  const transitionDuration = 300;
  const widthClasses = ["w1", "w2", "w3"];
  const loadingAnimationPace = 100;
  let loadingAnimationInterval;
  let currentRow = 1;
  let greatestRightInRow = 0;
  let rows = [];

  const startLoadingAnimation = () => {
    const loadingAnimation = document.getElementById('loading-animation');
    const loadingAnimationFrames = ['-', '\\', '|', '/'];
    let currentFrame = 0;

    const animate = () => {
      loadingAnimation.textContent = loadingAnimationFrames[currentFrame];
      currentFrame = (currentFrame + 1) % loadingAnimationFrames.length;
      loadingAnimationInterval = setTimeout(animate, loadingAnimationPace);
    }

    animate();
  }

  const stopLoadingAnimation = () => {
    const loadingAnimation = document.getElementById('loading-animation');
    loadingAnimationInterval = clearTimeout(loadingAnimationInterval);
    loadingAnimation.style.display = "none";
  }

  const getTopTarget = (frame, row) => {
    if (row == 1) return frames.offsetTop;

    let previousRow = rows[row - 2];
    let candidateFrame;

    for (let j = 0; j < previousRow.frames.length; j++) {
      let frameToCheck = previousRow.frames[j];

      if (
        frame.left < frameToCheck.right + horizontalMargin &&
        frame.right + horizontalMargin > frameToCheck.left &&
        (candidateFrame == null || frameToCheck.bottom > candidateFrame.bottom)
      ) candidateFrame = frameToCheck;
      else if (frame.right <= frameToCheck.left) {
        return candidateFrame ? candidateFrame.bottom : getTopTarget(frame, row - 1);
      }
    }

    return candidateFrame.bottom;
  };

  const loadFrame = async (frame) => {
    const img = frame.querySelector('img:first-of-type');
    return new Promise((resolve) => {
      // Resolve if the image if done.
      if (img.complete) return resolve();

      const checkForDimensions = () => {
        // Resolve if the img has dimensions. Small delay to let more of the img load for a smoother slide in.
        if (img.width > 0 && img.height > 0) return setTimeout(resolve, 1000);
        // Otherwise wait until the image has dimensions.
        else
          return requestAnimationFrame(checkForDimensions);
      }

      checkForDimensions();
    });
  };

  const decorateFrame = async (frame, itemId, src, date, name, link, video) => {

    const ctaAnchor = frame.querySelector('a');;
    const title = frame.querySelector('div.image-title');
    const img = frame.querySelector('img');

    ctaAnchor.textContent = '[collect]';
    title.innerHTML = `<span><span class="image-date">${date} | </span>${ name }<span>`;

    const cidUrl = `{{ assets_prefix }}${itemId}/nft.json.cid.txt`;
    const cid = await (await fetch(cidUrl)).text();
    const encodedIPFSUri = cid ? encodeIPFSUri(cid) : "";

    const clickHandler = (e) => {
      e.preventDefault();
      const modal = document.getElementById("modal");
      const modalHeader = document.getElementById("modal-header");
      const modalSubtitle = document.getElementById("modal-subtitle");
      const modalContent = document.getElementById("modal-content");
      const form = document.getElementById("form");
      modal.style.display = "block";
      const closeHandler = (e) => {
        if (e.target !== modal && e.target !== modalHeader && e.target !== modalSubtitle && e.target !== modalContent && e.target !== form) return; 
        if (video) modalVideo.pause();
        modal.style.display = "none";
      }
      modal.addEventListener("click", closeHandler);

      const modalImage = document.getElementById("modal-image");
      const modalVideo = document.getElementById("modal-video");

      if (video) {
        modalImage.style.display = "none"
        modalVideo.style.display = "block"
        modalVideo.autoplay = true;
        modalVideo.loop = true;
        modalVideo.muted = true;
        modalVideo.controls = true;
        modalImage.src = "";
        modalVideo.src = video;
        modalVideo.addEventListener('click', (event) => event.stopPropagation());
      } else {
        modalImage.style.display = "block"
        modalVideo.style.display = "none"
        modalVideo.src = "";
        modalImage.src = src;
        modalImage.addEventListener('click', (event) => event.stopPropagation());
      }

      const frameName = document.getElementById("frame-name");
      const frameDate = document.getElementById("frame-date");
      frameName.innerHTML = name;
      frameDate.innerHTML = `${date} | `;
    
      if (link) {
        modalSubtitle.style.display = "block";
        const frameLink = document.getElementById("frame-link");
        frameLink.innerHTML = `<a href="${link} target="_blank">${ link}</a>`;
      } else {
        modalSubtitle.style.display = "none";
      }

      // Get the form info.
      form.style.display = "block";
      const formBeneficiaryInput = document.getElementById("form-beneficiary-input");
      const formTotalSupplyInput = document.getElementById("form-total-supply-input");
      const formNftCategoryInput = document.getElementById("form-nft-category-input");
      const formProjectIdInput = document.getElementById("form-project-id-input");
      const formPriceInput = document.getElementById("form-price-input");
      const formButton = document.getElementById("form-button");

      const loadAddressButton = document.getElementById("load-address-button");
      loadAddressButton.onclick = async () => {
       formBeneficiaryInput.value = (await getSigner()).address;           
      };
      
      // Submit the form.
      formButton.onclick = async () => {
        const projectId = formProjectIdInput.value || 670;
        const category = formNftCategoryInput.value || 2;
        const quantity = parseInt(formTotalSupplyInput.value, 10) || 3;
        const price = `${Number(formPriceInput.value) * 1_000_000_000_000_000_000}` || "100000000000000000"; // number * 1 ETH, default is 0.1 ETH
        const beneficiary = formBeneficiaryInput.value; 
        
        return await tx_collect(projectId, category, quantity, price, encodedIPFSUri, beneficiary);
      }
    }
    img.addEventListener("click", clickHandler);
    ctaAnchor.addEventListener("click", clickHandler);
  }

  const frameImage = (src) => {
    const frame = document.createElement("div");
    const header = document.createElement("div");
    const title = document.createElement("div");
    const img = document.createElement("img");
    const cta = document.createElement("div");
    const ctaAnchor = document.createElement('a');

    frame.classList.add("frame");
    frame.style.transitionProperty = "opacity, margin-top";
    frame.style.transitionDuration = `${transitionDuration / 1000}s, ${transitionDuration / 1000}s`;
    frame.style.transitionTimingFunction = "ease, ease";
    header.classList.add("image-header");
    cta.classList.add("image-cta");
    title.classList.add("image-title");
    img.loading = "lazy";
    img.style.cursor = "pointer";

    // Get random width.
    const widthClass = widthClasses[Math.floor(Math.random() * widthClasses.length)];
    header.classList.add(widthClass);
    img.classList.add(widthClass);

    img.src = src;

    cta.appendChild(ctaAnchor);
    header.appendChild(cta);
    header.appendChild(title);
    frame.appendChild(header);
    frame.appendChild(img);
    frames.appendChild(frame);

    return frame;
  };

  const positionAndShowFrame = async (imageFrame) => {
    await loadFrame(imageFrame);

    if (loadingAnimationInterval) stopLoadingAnimation();

    const rect = imageFrame.getBoundingClientRect();
    if (rect.left < greatestRightInRow) currentRow++;
    greatestRightInRow = rect.right;

    const heightDiff = rect.top - getTopTarget(rect, currentRow);
      let newFrame = { left: rect.left, right: rect.right, bottom: rect.bottom - heightDiff + verticalMargin };

    if (currentRow > rows.length) rows.push({ frames: [newFrame] });
    else rows[rows.length - 1].frames.push(newFrame);

    const scrollTop = window.pageYOffset || document.documentElement.scrollTop;
    const marginTop = heightDiff + scrollTop - verticalMargin;
    imageFrame.classList.add("frame-fade-in");

    return new Promise((resolve) => {
      if (marginTop) {
        const handleEvent = (event) => {
          if (event.propertyName === "margin-top") {
            imageFrame.removeEventListener("transitionend", handleEvent);
            resolve();
          }
        };
        imageFrame.addEventListener("transitionend", handleEvent);
        imageFrame.style.marginTop = -marginTop + "px";
      } else setTimeout(resolve, transitionDuration);
    });
  }

  const loadImageFrames = async () => {
    const response = await fetch(
      `{{ assets_prefix }}planet.json`
    );
    const data = await response.json();
    const frames = data['articles']
      // Only if attachments have file extensions like ".jpg" ".png" ".gif"
      .filter(item => item.hasVideo === true || item.attachments.some(attachment => attachment.match(/\.(jpg|png|gif)$/i)))
      .map((item) => {
        // if item.hasVideo, use _videoThumbnail.png
        // else use a random attachment
        const imageName = item.hasVideo ? '_videoThumbnail.png' : item.attachments[Math.floor(Math.random() * item.attachments.length)];
        const videoName = item.hasVideo ? './' + item.id + '/' + item.videoFilename : null;
        const src = './' + item.id + '/' + imageName;
        const frame = frameImage(src);
        decorateFrame(frame, item.id, src, formatTimestamp(item.created), item.title, item.externalLink, videoName);
        return frame;
      }
    );

    for (const frame of frames)
      await positionAndShowFrame(frame);
  };

  loadImageFrames();
  startLoadingAnimation();
</script>
{% endblock %}
